.inner-content-div {
    position: absolute;
    width: 1345px;
    height: 900px;
    background: #F8FFFC;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.menu-left {
    position: absolute;
    width: 80px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: #FFFFFF;
}

.menu-left .menu-left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 80px;
    height: 445px;
    left: 0px;
    top: 0px;
}

.menu-left .menu-left-content .menu-icon {
    position: static;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 0px 0px;
}

.menu-left .menu-left-content .menu-icon svg {
    position: absolute;
    width: 20px;
    height: 20px;
    left: calc(50% - 20px/2);
    top: calc(10% - 20px/2);
}

.menu-left .menu-left-content .menuicon-line {
    position: static;
    width: 40px;
    height: 2px;
    background: linear-gradient(180deg, rgba(238, 236, 250, 0) 0%, #F9F9F9 51.44%, rgba(238, 236, 250, 0) 100%);
    margin-bottom: 20px;
    margin-left: 20px;
}

.menu-left .menu-left-content .green-icon {
    position: static;
    width: 80px;
    height: 66px;
    left: 0px;
    top: 95px;
    flex: none;
    order: 2;
    align-self: center;
    flex-grow: 0;
    margin: 0px 0px;
}

.menu-left .menu-left-content .greenicon-line {
    position: absolute;
    width: 40px;
    height: 2px;
    left: calc(0% - 2px/2 + 21px);
    top: 180px;
    background: linear-gradient(180deg, rgba(238, 236, 250, 0) 0%, #F9F9F9 51.44%, rgba(238, 236, 250, 0) 100%);
}

.menu-left .menu-left-content .green-icon svg {
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px/2);
    top: calc(30% - 40px/2);
    background: #0AB077;
    border-radius: 15px;
}

.menu-left .menu-left-content .groupoficon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    position: absolute;
    width: 44px;
    height: 236px;
    left: calc(50% - 44px/2);
    top: 215px;
    background: #F8FFFC;
    border-radius: 15px;
}

.menu-left .menu-left-content .groupoficon .icon1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px;
    position: static;
    width: 40px;
    height: 40px;
    left: 2px;
    top: 2px;
    background: #FFFFFF;
    border: 1px solid rgba(10, 176, 119, 0.1);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.006);
    border-radius: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.menu-left .menu-left-content .groupoficon .icon1 svg {
    position: static;
    width: 14px;
    height: 14px;
    left: calc(50% - 14px/2);
    top: calc(50% - 14px/2);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.menu-left .menu-left-content .groupoficon .icon2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 18px;
    top: 60px;
    border-radius: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu-left .menu-left-content .groupoficon .icon2 svg {
    position: static;
    width: 14px;
    height: 14px;
    left: calc(50% - 14px/2);
    top: calc(50% - 14px/2);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.menu-left .menu-left-content .groupoficon .icon3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 18px;
    top: 105px;
    border-radius: 15px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.menu-left .menu-left-content .groupoficon .icon3 svg {
    position: static;
    width: 14px;
    height: 14px;
    left: calc(50% - 14px/2);
    top: calc(50% - 14px/2);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.menu-left .menu-left-content .groupoficon .icon4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 18px;
    top: 145px;
    border-radius: 15px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.menu-left .menu-left-content .groupoficon .icon4 svg {
    position: static;
    width: 14px;
    height: 14px;
    left: calc(50% - 14px/2);
    top: calc(50% - 14px/2);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.menu-left .menu-left-content .groupoficon .icon5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 18px;
    top: 185px;
    border-radius: 15px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.menu-left .menu-left-content .groupoficon .icon5 svg {
    position: static;
    width: 14px;
    height: 14px;
    left: calc(50% - 14px/2);
    top: calc(50% - 14px/2);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.menu-left .menu-left-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 80px;
    height: 92px;
    left: calc(50% - 80px/2);
    bottom: 0px;
}

.menu-left .menu-left-bottom .line {
    position: static;
    width: 40px;
    height: 2px;
    left: calc(50% - 2px/2 + 21px);
    top: 10px;
    background: linear-gradient(180deg, rgba(238, 236, 250, 0) 0%, #F9F9F9 51.44%, rgba(238, 236, 250, 0) 100%);
}

.menu-left .menu-left-bottom svg {
    position: static;
    width: 80px;
    height: 70px;
    left: 0px;
    top: 22px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.navigator-top {
    position: absolute;
    width: 1263px;
    height: 82px;
    left: 82px;
    top: 0px;
    background: #FFFFFF;
}

.navigator-top .navigator-top-inside {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 634px;
    height: 40px;
    left: 35px;
    top: 20px;
}

.navigator-top img {
    position: absolute;
    top: 5px;
    left: 10px;
    display: none;
}

.navigator-top .navigator-top-inside .heading1 {
    position: static;
    width: 82px;
    height: 24px;
    left: 0px;
    top: calc(50% - 24px/2);
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #11263C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 40px;
}

.navigator-top .navigator-top-inside .rectangle2 {
    position: absolute;
    width: 35px;
    height: 2px;
    left: 63px;
    top: 60px;
    background: #0AB077;
    border-radius: 18px;
}

.navigator-top .navigator-top-inside .heading2 {
    position: static;
    width: 84px;
    height: 24px;
    left: 122px;
    top: calc(50% - 24px/2);
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #D0D1D2;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 40px;
}

.navigator-top .navigator-top-inside .heading3 {
    position: static;
    width: 76px;
    height: 24px;
    left: 246px;
    top: calc(50% - 24px/2);
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #D0D1D2;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 40px;
}

.navigator-top .navigator-top-inside .heading4 {
    position: static;
    width: 50px;
    height: 24px;
    left: 362px;
    top: calc(50% - 24px/2);
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #D0D1D2;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 40px;
}

.navigator-top .navigator-top-inside .heading5 {
    position: static;
    width: 76px;
    height: 24px;
    left: 452px;
    top: calc(50% - 24px/2);
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #D0D1D2;
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 0px 40px;
}

.navigator-top .navigator-top-inside .rectangle1 {
    position: static;
    width: 2px;
    height: 40px;
    left: 568px;
    top: 0px;
    background: linear-gradient(180deg, rgba(238, 236, 250, 0) 0%, #F9F9F9 51.44%, rgba(238, 236, 250, 0) 100%);
    border-radius: 18px;
    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 40px 0px;
}

.navigator-top .navigator-top-inside svg {
    position: static;
    width: 24px;
    height: 24px;
    left: calc(50% - 24px/2 + 305px);
    top: calc(50% - 24px/2);
    flex: none;
    order: 6;
    flex-grow: 0;
    margin: 0px 40px;
}

.navigator-top .navigator-right {
    position: absolute;
    width: 182px;
    height: 26px;
    right: 0px;
    top: 24px;
}

.navigator-top .navigator-right p {
    position: absolute;
    width: 151px;
    height: 26px;
    top: -10px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #11263C;
}

.navigator-top .navigator-right svg {
    position: absolute;
    width: 22px;
    height: 22px;
    z-index: 100;
    left: 109px;
    top: 10px;
}

.inside-content {
    position: absolute;
    width: 1000px;
    height: 818px;
    left: 82px;
    top: 82px;
    background: #FFFFFF;
}

.inside-content .text-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 200px;
    height: 20px;
    left: 34px;
    top: 34px;
}

.inside-content .text-1 p {
    position: static;
    width: 77px;
    height: 20px;
    left: 0px;
    top: calc(50% - 20px/2);
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    color: rgba(10, 176, 119, 0.87);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.inside-content .text-1 h6 {
    position: absolute;
    width: 89px;
    height: 20px;
    left: 111px;
    top: 0px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #D0D1D2;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 10px;
}

.inside-content .text-1 svg {
    position: absolute;
    width: 14px;
    height: 14px;
    left: calc(50% - 14px/2 - 6px);
    top: calc(50% - 14px/2);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

.inside-content .graph {
    position: absolute;
    width: 980px;
    height: 327px;
    left: 0px;
    top: 74px;
}

.inside-content .graph canvas {
    width: 980px;
    height: 320px;
}

.inside-content .imp-stats {
    position: absolute;
    width: 636px;
    height: 376px;
    left: 34px;
    top: 418px;
}

.inside-content .imp-stats .text-2 {
    position: absolute;
    width: 636px;
    height: 56px;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid #D2D2D6;
}

.inside-content .imp-stats .text-2 p {
    position: absolute;
    left: 16px;
    right: 16px;
    top: 8px;
    bottom: 8px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #9696A0;
}

.inside-content .imp-stats .text-2 h6 {
    position: absolute;
    width: 77px;
    height: 22px;
    left: 520px;
    top: -11px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #949494;
}

.inside-content .imp-stats .text-2 svg {
    position: absolute;
    width: 38px;
    height: 38px;
    left: 590px;
    top: calc(-10% - 38px/2 + 36px);
}

.inside-content .imp-stats .rect-div1 {
    position: absolute;
    height: 128px;
    width: 306px;
    left: 0px;
    top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.inside-content .imp-stats .rect-div1 h1,
.inside-content .imp-stats .rect-div2 h1 {
    position: absolute;
    height: 44px;
    left: 20px;
    right: 0px;
    top: 0px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 44px;
    display: flex;
    align-items: center;
    letter-spacing: -0.44px;
    color: #19191D;
}

.inside-content .imp-stats .rect-div1 p,
.inside-content .imp-stats .rect-div2 p {
    position: absolute;
    left: 20px;
    right: 0px;
    top: 44px;
    bottom: 0px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 36px;
    color: #9696A0;
}

.inside-content .imp-stats .rect-div2 svg {
    position: absolute;
    width: 56px;
    height: 56px;
    right: 166px;
    top: calc(42% - 56px/2 - 10px);
}

.inside-content .imp-stats .rect-div2 {
    position: absolute;
    height: 128px;
    width: 306px;
    right: 0px;
    top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.inside-content .imp-stats .rect-div3 {
    position: absolute;
    height: 135px;
    width: 195px;
    left: 0px;
    top: 248px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.inside-content .imp-stats .rect-div3 h6,
.inside-content .imp-stats .rect-div4 h6,
.inside-content .imp-stats .rect-div5 h6 {
    position: absolute;
    height: 40px;
    left: 20px;
    right: 0px;
    top: -35px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #19191D;
}

.inside-content .imp-stats .rect-div3 span,
.inside-content .imp-stats .rect-div4 span,
.inside-content .imp-stats .rect-div5 span {
    font-family: Avenir;
    position: absolute;
    left: 100px;
    top: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: green;
}

.inside-content .imp-stats .rect-div3 p,
.inside-content .imp-stats .rect-div4 p,
.inside-content .imp-stats .rect-div5 p {
    position: absolute;
    left: 20px;
    right: 15px;
    top: 48px;
    bottom: 0px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.44px;
    color: #3A3A44;
}

.inside-content .imp-stats .rect-div4 {
    position: absolute;
    height: 135px;
    width: 195px;
    left: 210px;
    top: 248px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.inside-content .imp-stats .rect-div5 {
    position: absolute;
    height: 135px;
    width: 195px;
    right: 0px;
    top: 248px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.inside-content .listofusers {
    position: absolute;
    width: 255px;
    height: 376px;
    left: 716px;
    top: 418px;
    overflow: hidden;
}

.inside-content .listofusers .text-3 {
    position: absolute;
    width: 280px;
    height: 56px;
    left: 0px;
    border-bottom: 1px solid #D2D2D6;
}

.inside-content .listofusers .text-3 h3 {
    position: absolute;
    left: 16px;
    right: 16px;
    top: 8px;
    bottom: 8px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: #9696A0;
}

.inside-content .listofusers .list-1 {
    position: absolute;
    height: 56px;
    width: 280px;
    left: 0px;
    top: 90px;
}

.inside-content .listofusers .list-2 {
    position: absolute;
    height: 56px;
    width: 280px;
    left: 0px;
    top: 165px;
}

.inside-content .listofusers .list-3 {
    position: absolute;
    height: 56px;
    width: 280px;
    left: 0px;
    top: 240px;
}

.inside-content .listofusers .list-4 {
    position: absolute;
    height: 56px;
    width: 280px;
    left: 0px;
    top: 315px;
}

.inside-content .listofusers .list-1 svg,
.inside-content .listofusers .list-2 svg,
.inside-content .listofusers .list-3 svg,
.inside-content .listofusers .list-4 svg {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: calc(50% - 56px/2);
}

.inside-content .listofusers .list-1 span,
.inside-content .listofusers .list-2 span,
.inside-content .listofusers .list-3 span,
.inside-content .listofusers .list-4 span {
    position: absolute;
    left: 72px;
    bottom: 15px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #4A4B57;
}

.links-div {
    position: absolute;
    width: 250px;
    height: 226px;
    right: 0px;
    top: 116px;
}

.links-div h3 {
    position: static;
    width: 123px;
    height: 28px;
    left: 0px;
    top: calc(50% - 28px/2);
    font-family: DINPro;
    font-size: 18px;
    line-height: 28px;
    color: #11263C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.links-div span {
    position: absolute;
    width: 18px;
    height: 18px;
    left: calc(35% - 18px/2 + 66.5px);
    top: calc(11% - 18px/2);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.links-div .link-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 201px;
    height: 22px;
    left: 0px;
    top: 55px;
}

.links-div .link-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 201px;
    height: 22px;
    left: 0px;
    top: 85px;
}

.links-div .link-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 201px;
    height: 22px;
    left: 0px;
    top: 115px;
}

.links-div .link-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 201px;
    height: 22px;
    left: 0px;
    top: 145px;
}

.links-div .link-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 201px;
    height: 22px;
    left: 0px;
    top: 180px;
}

.links-div .link-5 p {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #949494;
}

.links-div .link-1 svg,
.links-div .link-2 svg,
.links-div .link-3 svg,
.links-div .link-4 svg {
    position: static;
    width: 14px;
    height: 14px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 10px;
}

.links-div .link-1 span,
.links-div .link-2 span,
.links-div .link-3 span,
.links-div .link-4 span {
    position: static;
    width: 177px;
    height: 22px;
    left: 24px;
    top: calc(50% - 22px/2);
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(66, 47, 138, 0.87);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}

.document-div {
    position: absolute;
    width: 250px;
    height: 292px;
    right: 0px;
    top: 384px;
}

.document-div h6 {
    position: static;
    width: 123px;
    height: 28px;
    left: 0px;
    top: calc(50% - 28px/2);
    font-family: DINPro;
    font-size: 18px;
    line-height: 28px;
    color: #11263C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.document-div span {
    position: absolute;
    width: 18px;
    height: 18px;
    left: calc(12% - 18px/2 + 66.5px);
    top: calc(8% - 18px/2);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.document-div .document-1 {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 250px;
    height: 70px;
}

.document-div .document-1 svg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: orange;
    opacity: 0.48;
}

.document-div .document-2 svg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background: #EC407A;
    opacity: 0.48;
}

.document-div .document-3 svg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    opacity: 0.48;
    background: #43A047;
}

.document-div .document-1 span,
.document-div .document-2 span,
.document-div .document-3 span {
    position: absolute;
    left: 60px;
    top: -10px;
    width: 200px;
    height: 50px;
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #19191D;
}

.document-div .document-1 span p,
.document-div .document-2 span p,
.document-div .document-3 span p {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 20px;
    bottom: 0px;
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #5A5B6A;
}

.document-div .document-2 {
    position: absolute;
    left: 0px;
    top: 115px;
    width: 250px;
    height: 70px;
}

.document-div .document-3 {
    position: absolute;
    left: 0px;
    top: 180px;
    width: 250px;
    height: 70px;
}

.document-div p {
    position: absolute;
    left: 0px;
    top: 251px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #949494;
}

.response-div {
    position: absolute;
    width: 250px;
    height: 138px;
    right: 0px;
    top: 721px;
}

.response-div h3 {
    position: absolute;
    width: 87px;
    height: 28px;
    left: 0px;
    top: calc(0% - 28px/2);
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #11263C;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.response-div span {
    position: absolute;
    width: 18px;
    height: 18px;
    left: calc(12% - 18px/2 + 66.5px);
    top: calc(8% - 18px/2);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.response-div .response-bar {
    position: absolute;
    width: 281px;
    height: 90px;
    left: -12px;
    top: 20px;
}


/* ################# MEDIA QUARY ################### */

@media only screen and (max-width:1024px) {
    .inner-content-div {
        width: 1022px;
        height: 1040px;
    }
    .navigator-top {
        width: 970px;
    }
    .navigator-top .navigator-top-inside {
        left: 0px;
    }
    .navigator-top .navigator-top-inside .heading1 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading2 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading3 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading4 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading5 {
        margin: 0px 10px 0px 10px;
    }
    .navigator-top .navigator-top-inside .rectangle2 {
        left: 33px;
    }
    .navigator-top .navigator-top-inside svg {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-right {
        right: 25px;
        top: 20px;
    }
    .inside-content {
        width: 670px;
        height: 1000px;
    }
    .inside-content .graph canvas {
        width: 700px;
        height: 250px;
    }
    .inside-content .text-1 {
        left: 15px;
    }
    .inside-content .graph {
        left: -35px;
    }
    .inside-content .imp-stats .text-2 svg {
        left: 365px;
    }
    .inside-content .imp-stats .text-2 {
        width: 400px;
    }
    .inside-content .imp-stats .text-2 h6 {
        left: 295px;
    }
    .inside-content .imp-stats {
        width: 400px;
    }
    .inside-content .imp-stats .rect-div1,
    .inside-content .imp-stats .rect-div2 {
        width: 180px;
        top: 90px;
    }
    .inside-content .imp-stats .rect-div3 {
        width: 180px;
    }
    .inside-content .imp-stats .rect-div4 {
        width: 180px;
        left: 218px;
    }
    .inside-content .imp-stats .rect-div2 svg {
        right: 36px;
    }
    .inside-content .imp-stats .rect-div5 {
        height: 115px;
        width: 400px;
        top: 412px;
    }
    .inside-content .listofusers {
        width: 195px;
        left: 460px;
    }
}

@media only screen and (max-width:768px) {
    .inner-content-div {
        width: 768px;
        height: 995px;
    }
    .navigator-top {
        width: 670px;
    }
    .navigator-top .navigator-top-inside {
        left: 0px;
    }
    .navigator-top .navigator-top-inside .heading1 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading2 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading3 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading4 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading5 {
        margin: 0px 10px 0px 10px;
    }
    .navigator-top .navigator-top-inside .rectangle2 {
        left: 33px;
    }
    .navigator-top .navigator-top-inside svg {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-right {
        right: -30px;
        top: 20px;
    }
    .inside-content {
        width: 430px;
        height: 910px;
    }
    .inside-content .graph canvas {
        width: 450px;
        height: 250px;
    }
    .inside-content .text-1 {
        left: 15px;
    }
    .inside-content .graph {
        left: -35px;
    }
    .inside-content .imp-stats .text-2 svg {
        left: 365px;
    }
    .inside-content .imp-stats .text-2 {
        width: 400px;
    }
    .inside-content .imp-stats .text-2 h6 {
        left: 295px;
    }
    .inside-content .imp-stats {
        top: 334px;
        left: 10px;
    }
    .inside-content .imp-stats .rect-div1,
    .inside-content .imp-stats .rect-div2 {
        width: 180px;
        top: 90px;
    }
    .inside-content .imp-stats .rect-div3 {
        width: 180px;
    }
    .inside-content .imp-stats .rect-div4 {
        width: 180px;
        left: 218px;
    }
    .inside-content .imp-stats .rect-div2 svg {
        right: 36px;
    }
    .inside-content .imp-stats .rect-div5 {
        height: 115px;
        width: 400px;
        top: 412px;
    }
    .document-div p {
        top: 230px;
    }
    .inside-content .listofusers {
        width: 195px;
        left: 460px;
        top: 580px;
    }
    .response-div {
        top: 550px;
    }
    .links-div {
        top: 70px;
    }
    .document-div {
        top: 270px;
    }
    .inside-content .listofusers .list-1 {
        top: 60px;
    }
    .inside-content .listofusers .list-2 {
        top: 130px;
    }
    .inside-content .listofusers .list-3 {
        top: 196px;
    }
    .inside-content .listofusers .list-4 {
        top: 265px;
    }
}

@media only screen and (max-width:360px) {
    .inner-content-div {
        width: 360px;
        height: 2070px;
    }
    .navigator-top {
        width: 670px;
    }
    .navigator-top .navigator-top-inside {
        left: 0px;
        display: none;
    }
    .navigator-top img {
        top: 20px;
        left: 30px;
        display: block;
        opacity: 0.5;
    }
    .navigator-top .navigator-top-inside .heading1 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading2 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading3 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading4 {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-top-inside .heading5 {
        margin: 0px 10px 0px 10px;
    }
    .navigator-top .navigator-top-inside .rectangle2 {
        left: 33px;
    }
    .navigator-top .navigator-top-inside svg {
        margin: 0px 0px 0px 10px;
    }
    .navigator-top .navigator-right {
        right: 350px;
        top: 16px;
    }
    .inside-content {
        width: 360px;
        height: 1370px;
    }
    .inside-content .graph canvas {
        width: 310px !important;
        height: 160px !important;
    }
    .inside-content .text-1 {
        left: 15px;
    }
    .inside-content .graph {
        left: -35px;
    }
    .inside-content .imp-stats .text-2 svg {
        left: 221px;
        z-index: 100;
        width: 20px;
    }
    .inside-content .imp-stats .text-2 {
        width: 260px;
    }
    .inside-content .imp-stats .text-2 h6 {
        left: 170px;
        font-size: 10px;
        top: -2px;
    }
    .inside-content .imp-stats {
        top: 237px;
        left: 10px;
        width: 260px;
    }
    .inside-content .imp-stats .rect-div1 {
        width: 260px;
        top: 80px;
    }
    .inside-content .imp-stats .rect-div2 {
        width: 260px;
        top: 225px;
    }
    .inside-content .imp-stats .rect-div3 {
        width: 260px;
        top: 370px;
    }
    .inside-content .imp-stats .rect-div4 {
        width: 260px;
        top: 525px;
        left: 0px;
    }
    .inside-content .imp-stats .rect-div2 svg {
        right: 120px;
    }
    .inside-content .imp-stats .rect-div5 {
        height: 130px;
        width: 260px;
        top: 680px;
    }
    .document-div p {
        top: 230px;
    }
    .inside-content .listofusers {
        width: 250px;
        left: 15px;
        top: 1050px;
    }
    .response-div {
        top: 1950px;
    }
    .links-div {
        top: 1460px;
    }
    .document-div {
        top: 1660px;
    }
    .inside-content .listofusers .list-1 {
        top: 60px;
    }
    .inside-content .listofusers .list-2 {
        top: 130px;
    }
    .inside-content .listofusers .list-3 {
        top: 196px;
    }
    .inside-content .listofusers .list-4 {
        top: 265px;
    }
}